<div class ="header" id ="site-title">
   	<p> Syntax Highlighting </p>
</div>
<div class="snippet">
<form  action="/" method="POST" >
	<div class="options">
	<p>
	  <div id="option"><input type="radio" name="lang" value="ruby"/> Ruby<br> </div> 
      <div id="option"><input type="radio" name="lang" value="xml"/> XML <br> </div>
      <div id="option"><input type="radio" name="lang" value="yaml"/> YAML <br> </div>
    
	</p>
	</div>
	<p>
		<textarea name="input" id="body" rows="20" cols="9"></textarea>
	</p>
	<p>
		<input type="submit" value=" Go! " id="boton1">
	</p>
</form>

</div>
