<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= @title || 'Toopaste!' %></title>
 
</head>
<body>
	<div id="lang">
      	<h1><%= @title || 'Toopaste!' %></h1>
  	</div>
  <div class="snippet" >
  	
  	<div class="sbody" id="content" rows="20">
    	 <%= @show %>
  	</div>
  	<br/><a href="/">New Paste!</a>
	</div>
</body>
</html>