<div class = "form">
   <form action="/" method ="POST">
    
      <div id="option"><input type="radio" name="opt" value="rock"/> Rock <br> </div> 
      <div id="option"><input type="radio" name="opt" value="paper"/> Paper <br> </div>
      <div id="option"><input type="radio" name="opt" value="scissors"/> Scissors <br> </div>
      <div id="boton1"><input type="submit" value=" Go! " > </div>
   
   <form>
</div>
