!!!
%html
    %body
        %a(href="/show")Show all URLs
        %a(href="/search")Search some URLs
        %form(action="/" method="POST")
            %label(for="url")
            %input(type="text" name="url" id="url" placeholder="Introduce URL to short" )
            %label(for="custom") Custom Shortened URL(optional)
            %input(type="text" name="custom" id="custom" placeholder="Introduce custom URL")
            %input(type="submit" value="Shorten" class="shorten" )
      
          
        =yield
        