.form
	%form{:action => "/", :method => "POST"}
		#option
			%input{:name => "opt", :type => "radio", :value => "rock"}/
			Rock 
		#option
			%input{:name => "opt", :type => "radio", :value => "paper"}/
			Paper
		#option
			%input{:name => "opt", :type => "radio", :value => "scissors"}/
			Scissors 
		#boton1
			%input{:type => "submit", :value => " Go! "}     